<h1>
  Mainmenu
</h1>

<ul>
  <%= link_to 'Consultation', consultations_path %></br>
  <%= link_to 'Eduvideo', eduvideos_path %></br>
  <%= link_to 'Tryout', tryouts_path %></br>
  <%= link_to 'Lesson Outline', lessonoutlines_path %></br>
  <%= link_to 'Problem Set', problemsets_path %></br>
</ul>
